apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-server
  template:
    metadata:
      labels:
        app: hello-server
    spec:
      containers:
        - name: hello-server
          image: hello-server:latest
          ports:
            - containerPort: 8080
          imagePullPolicy: Never
          resources:
            requests:
              cpu: 1m
---
apiVersion: v1
kind: Service
metadata:
  name: hello-server
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: hello-server
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hello-server
spec:
  rules:
    - host: hello.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: hello-server
                port:
                  number: 80
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: hello-server
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: hello-server
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
